<div class="container">
    <div class="row">
        <div class="col-md-12">

            <!--Sidebar content-->
            <div class="pull-left">
                <a href="#/products/0" class="btn btn-info"><span class="glyphicon glyphicon-plus-sign"></span> Add New Product</a>
            </div>
            <div class="pull-right">
                <form role="form" class="form-inline">
                    <div class="form-group">
                        <label>Search:</label>
                        <input ng-model="query" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Sort by:</label>
                        <select ng-model="orderProp" class="form-control">
                            <option value="Name">Alphabetical</option>
                            <option value="Price">Price</option>
                            <option value="-Likes">Likes</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br />
    <div class="row products">
        <!--  -->
        <div class="col-sm-6 col-md-3 thumb-view-item" ng-repeat="product in products | filter:query | orderBy:orderProp track by product.Id">
            <div class="thumbnail">
                <div style="overflow: hidden; margin-bottom: 2px; height: 30px;">
                    <div class="pull-right"><a style="cursor: pointer" class="btn btn-primary btn-xs like" ng-click="addLike(product)"><span class="glyphicon glyphicon-thumbs-up"></span>Like</a></div>
                </div>
                <a href="#/products/{{product.Id}}" class="thumb">
                    <img ng-src="{{product.ImageUrl}}" alt="..." style="max-height: 160px;">
                </a>
                <div class="caption">
                    <h3>{{product.Name}}</h3>
                    <p>Price: ${{product.Price}}</p>
                    <div style="overflow: hidden; margin-bottom: 3px;">
                        <div class="pull-left">{{product.Likes}} Likes</div>
                    </div>
                    <div style="overflow: hidden; margin-top: 5px; background: rgba(238, 238, 238, 0.2); border: 1px solid rgba(192, 192, 192, 0.2); border-radius: 5px; padding: 3px;">
                        <div class="pull-left"><a style="cursor: pointer" class="btn btn-danger remove" ng-click="delete(product)"><span class="glyphicon glyphicon-remove-sign"></span>Delete</a></div>
                        <div class="pull-right"><a style="cursor: pointer" class="btn btn-warning edit" href="#/products/{{product.Id}}"><span class="glyphicon glyphicon-pencil"></span>Edit</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

</div>


