<div class="container reports  well">
    <div class="row" style="margin-bottom: initial;">
        <div class="col-md-12" style="overflow: hidden;">
            <div class="pull-left">
                <a class="btn btn-info" ng-click="getRandomJobs()"><span class="glyphicon glyphicon-cloud-download"></span>&nbsp;&nbsp;Get More Random Companies</a>
                <a class="btn btn-danger" ng-click="raiseException()"><span class="glyphicon glyphicon-cloud-download"></span>&nbsp;&nbsp;Raise Server Exception</a>
            </div>
            <div class="pull-right large-text">
                <strong>{{jobsCount}} companies</strong>
            </div>
        </div>
    </div>
    <br />

    <div class="row">
        <div id="List" class="col-md-12" style="max-height: 360px; overflow-y: auto;">
            <ng-include src="'/web/partials/log.html'" />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-12" style="position: relative;">
            <div id="ColumnChartDashboard">
                <div id="ColumnChart" style="width: 960px; height: 320px;"></div>
                <div id="ColumnChartCntrl" style="width: 960px; height: 50px;"></div>
            </div>

        </div>
    </div>
    <br />
    
    <div class="row">
        <div class="col-md-12" style="position: relative;">
            <div id="Chart" style="width: 960px; height: 320px;"></div>
        </div>
    </div>
    <br />

</div>


